name: ci

on:
    pull_request:
    push:
        branches: ["main"]

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

env:
    MISE_EXPERIMENTAL: true
    CGO_ENABLED: "0"
    GOLANGCI_LINT_CACHE: ~/.cache/golangci-lint

jobs:
    ci:
        runs-on: ubuntu-latest
        timeout-minutes: 10

        steps:
            - uses: actions/checkout@v6

            # Cache go build/test modules and golangci-lint cache
            - name: Cache Go build artifacts
              uses: actions/cache@v4
              with:
                  path: |
                      ~/go/pkg/mod
                      ~/.cache/golangci-lint
                  key: go-${{ runner.os }}-${{ hashFiles('**/go.sum') }}

            - uses: jdx/mise-action@v2

            - name: Run checks
              run: mise run check
